*,
*::before,
::after {
  box-sizing: border-box;
}

:root {
  --clr-accent1: deepskyblue;
  --clr-accent2: darkorange;
  --clr-accent3: darkslateblue;
  --clr-white: white;
  --clr-black: black;

  --s-base: 1rem;
  --s-base-xl: calc(var(--s-base) * 2);
  --s-base-small: calc(var(--s-base) / 2);
  --s-base-xs: calc(var(--s-base) / 5);
  --s-border: 0.125rem;
  --s-radius-outer: 0.75rem;
  --s-radius-inner: calc(var(--s-radius-outer) / 3);
}

html {
  font-family: sans-serif;
}

main {
  display: flex;
  gap: var(--s-base-xl);
}

body {
  margin: 2rem;
}

.preview-card article {
  height: 500px;
}

.preview-card {
  --clr-accent: var(--clr-accent3);
  box-shadow: var(--clr-accent) 10px 10px 1px;

  font-size: 0.9rem;
  padding: var(--s-base);

  border: black solid var(--s-border);
  border-radius: var(--s-radius-outer);

  width: 400px;
}

.preview-card-lifestyle {
  --clr-accent: var(--clr-accent2);
}

img {
  border-radius: var(--s-radius-inner);
  height: 165px;
  width: 330px;
}

.date-author {
  display: flex;
  justify-content: space-between;
}

.photo-author {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.photo-author {
  border: var(--clr-accent) solid var(--s-border);
}

.author {
  display: flex;
  gap: var(--s-base-small);
}

a {
  background: var(--clr-accent1);
  border-radius: var(--s-radius-outer);
  padding-inline: var(--s-base);
  padding-block: var(--s-base-xs);
}

h2 {
  font-size: calc(var(--s-base) * 1.4);
}

button {
  color: var(--clr-white);
  border-radius: var(--s-radius-inner);
  border: none;
  padding-inline: var(--s-base);
  padding-block: var(--s-base-small);
}

.preview-card button {
  background-color: var(--clr-accent);
}
